body {
  font-family: 'Lato', sans-serif !important;
}


.ui.form {
  width: 100%;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

/* header */

.ui.secondary.inverted.pointing.menu .item.none.active {
  border: none !important;
}

.fixed-top {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.fixed-top.home a.item , .fixed-top.home  a.active.item , .fixed-top.home  .right.menu a.item {
  color:white!important;
}

.fixed-top.article {
  background-color: black !important;
}

.fixed-top.article a.item , .fixed-top.article  a.active.item , .fixed-top.article  .right.menu a.item .tel-navbar{
  color:white!important;
}

.fixed-top.home.scrolled {
  background-color: white !important;
  transition: background-color 200ms linear;
}

.fixed-top.home.scrolled .item , .fixed-top.home.scrolled  a.active.item , .fixed-top.home.scrolled  .right.menu a.item {
  color:black!important;
}

/* **************** */

.image-area {
  position: relative;
  width: 100%;
  background: white;
}
.image-area img{
  max-width: 100%;
  height: auto;
}
.remove-image {
display: none;
position: absolute;
top: -10px;
right: -10px;
border-radius: 10em;
padding: 2px 6px 3px;
text-decoration: none;
font: 700 21px/20px sans-serif;
background: #555;
border: 3px solid #fff;
color: #FFF;
box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.remove-image:hover {
 background: #E54E4E;
  padding: 3px 7px 5px;
  top: -11px;
right: -11px;
}
.remove-image:active {
 background: #E54E4E;
  top: -10px;
right: -11px;
}

.seperate-row {
  display: block !important;
}

/* navbar menu css */

@media screen and (max-width: 991px) {
  .ui.menu.navbartop a.item:not(:first-child){ display:none; }
  .ui.menu.navbartop .right.menu a.item.icon { display:block !important; font-size:1.2rem;}
  .ui.segment { padding:0}


}

@media screen and (max-width: 768px) {
  .ui.divided.horizontal.list>.item:not(:first-child) {
    padding-left: 0px !important;
  }
  .ui.divided.horizontal.list>.item:not(:last-child) {
    padding-right: 0px !important;
  }
  .ui.divided.horizontal.list>.item {
    display: block;
    border: none !important;
  }
}

.tel-navbar {
  margin-left: 5px;
  font-size: 1.2rem;
  line-height: 1.0;
}

.ui.menu .right.menu a.item.icon {
  display:none;
}

.ui.secondary.inverted.menu a.item {
  font-weight: bold;
}

/* *** */

/* homepage hero */
.hero, .herocontent {
  width: 500wh;
  height: 100vh;
  display: flex;
}

.hero {
  background-image: url("https://unsplash.it/1500?random");
  background-size: cover;
  background-position: center;
}

.center-content {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
}
.center-content h3, .center-content h5 {
  color: white;
  line-height: 1;
}
.center-content h3 {
  text-transform: uppercase;
  font-size: 2em;
}
.center-content h5 {
  font-size: 1em;
  font-weight: normal;
  margin-top: 20px;
}

.flex-row {
  flex-direction: row;
  margin-top: 50px;
}

/* loader */

.loader {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.loader::before, .loader::after {
  content: "";
  position: absolute;
  border: 16px solid transparent;
  border-radius: 50%;
  left: -16px;
  top: -16px;
  width: 100%;
  height: 100%;
}
.loader::after {
  border-top-color: rgb(141, 190, 90);
  border-bottom-color: transparent;
  animation: spin 1s linear infinite;
}
.loader::before {
  border-top-color: white;
  border-bottom-color: transparent;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
}

.loader-content {
  height: 100vh;
  margin: 0;
  background: #646971;
}

.loader-content, .loader-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-submit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: 100%;
  margin: 0;
  background: #64697191;
}

.hide-loader {
  display: none !important;
}

/* footer */
.ui.list.footer>.item .header {
  color: white
}

.ui.divided.horizontal.list>.item {
  border-color: white !important;
}

.ui.divided.horizontal.list.footer>.item:not(:last-child) {
  padding-right: 1.333rem;
}

.ui.divided.horizontal.list.footer>.item:not(:first-child) {
  padding-left: 1.333rem
}

.ui.horizontal.list.footer.social>.item {
  font-size: 1.725rem !important;
}

.ui.horizontal.list.footer>.item {
  font-size: 0.855rem !important;
}

/* ************** */

/* editor draft js */
.articles-editor {
  height: 700px !important;
  border: 1px solid #F1F1F1 !important;
  padding: 5px !important;
  border-radius: 2px !important;
}
/* **** */