body {
  font-family: 'Lato', sans-serif !important;
}


.ui.form {
  width: 100%;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.loader{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

.image-area {
  position: relative;
  width: 100%;
  background: #333;
}
.image-area img{
  max-width: 100%;
  height: auto;
}
.remove-image {
display: none;
position: absolute;
top: -10px;
right: -10px;
border-radius: 10em;
padding: 2px 6px 3px;
text-decoration: none;
font: 700 21px/20px sans-serif;
background: #555;
border: 3px solid #fff;
color: #FFF;
box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.remove-image:hover {
 background: #E54E4E;
  padding: 3px 7px 5px;
  top: -11px;
right: -11px;
}
.remove-image:active {
 background: #E54E4E;
  top: -10px;
right: -11px;
}

/* LOADER 2 */

#loader-2 span{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #3498db;
  margin: 35px 5px;
}

#loader-2 span:nth-child(1){
  animation: bounce 1s ease-in-out infinite;
}

#loader-2 span:nth-child(2){
  animation: bounce 1s ease-in-out 0.10s infinite;
}

#loader-2 span:nth-child(3){
  animation: bounce 1s ease-in-out 0.20s infinite;
}

@keyframes bounce{
  0%, 75%, 100%{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25%{
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

.seperate-row {
  display: block !important;
}

.price-condo {
  font-size: 0.95em;
  font-weight: bold;
}

.bath {
  font-weight: 400;
  color: rgba(0,0,0,.6);
}

.utilities-img {
  float:left;
  margin-right: 5px;
}

.utilitie-text {
  float:left;
  max-width: 100%;
}

.utilitie-text span {
  float:left;
  clear:both;
}

.text-description1 {
  line-height: 1.5rem;
  font-size: 0.9rem;
  margin-bottom: 2px;
  font-weight: bold;
}

.text-description2 {
  font-size: 0.9rem;
  color: #99e211;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 0.9rem;
  font-weight: bold;
}



